</section>
<footer class="footer">
    <div class="content has-text-centered">
        <p>
        Editor implementado: 
        <a href="https://code.visualstudio.com">Visual Studio Code</a>.
        </p>
    </div>
</footer>
</body>
</html>