<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Poems</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
        <a class="navbar-item" href="/">
            Home
        </a>
        <a class="navbar-item" href="/amor">
            Amor
        </a>
        <a class="navbar-item" href="/poemaamor">
            Poema
        </a>
        <a class="navbar-item" href="/tiempo">
            Tiempo
        </a>
        <a class="navbar-item" href="/vida">
            Vida
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
            Reseñas
        </a>
    
        <div class="navbar-dropdown">
            <a class="navbar-item" href="/consultaresena">
                Consultar reseñas
            </a>
            <a class="navbar-item" href="/escriberesena">
                Escribir reseña
            </a>
        </div>
        </div>
        </div>
    
        <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
            <a class="button is-danger">
                <strong>Sign up</strong>
            </a>
            <a class="button is-light">
                Log in
            </a>
            </div>
        </div>
        </div>
    </div>
    </nav>
    <section class="section">
        <div class="container">