<%- include('includes/head.ejs', {username: username}) %>
<section class="hero is-danger">
    <div class="hero-body">
        <p class="title">
        ¿Qué es el amor?
        </p>
        <p class="subtitle">
        Por Mike Barrón
        </p>
    </div>
    </section>

<section class="section">
    <div class="container">
        <h1 class="title">
            El <strong>amor</strong> es...
        </h1>
        <p>
            <strong>Amor</strong> es pensar en un futuro juntos.
            <br><strong>Amor</strong> es que mi niño interior se sienta seguro contigo.
            <br><strong>Amor</strong> es ese brillo que provocas en mis ojos.
            <br><strong>Amor</strong> es acompañarnos en momentos importantes, sean buenos o malos.
            <br><strong>Amor</strong> es "ese no se qué" que me tiene "no se cómo" que me encanta "no se cuánto".
            <br><strong>Amor</strong> es aceptarnos tal y como somos.
            <br><strong>Amor</strong> es preocuparte y tomar interéspor el otro.
            <br><strong>Amor</strong> es ver belleza en las imperfecciones del otro.
            <br><strong>Amor</strong> es compartir momentos emotivos e inolvidables.
            <br><strong>Amor</strong> es desearle lo mejor al otro aún cuando no podamos estar juntos.
            <br><strong>Amor</strong> es sentir tu presencia y cariño a la distancia.
            <br><strong>Amor</strong> es un viaje de descubrimiento y crecimiento mutuo.
            <br><strong>Amor</strong> es Dios.
            <br><strong>Amor</strong> es dedicar pequeños detalles.
            <br><strong>Amor</strong> son actos desinteresados.
            <br><strong>Amor</strong> son caricias gentiles.
            <br><strong>Amor</strong> es comunicar los sentimientos.
        </p>

        <p>
            <br>El <strong>amor</strong> puede ser muchas cosas, pero nunca dejará de ser lo más importante en mi vida y mi familia.
        </p>
    </div>
</section>
<%- include('includes/foot.ejs') %>