<%- include('includes/head.ejs', {username: username}) %>
            <div class="hero-body">
                <p class="title">
                Poema de vida
                </p>
                <p class="subtitle">
                Por Shawnee Kellie
                </p>
            </div>
            </section>

        <section class="section">
            <div class="container">
            <h1 class="title">
                Uno
            </h1>
            <p>
                Una sonrisa puede crear una amistad,
                <br>Un apretón de manos puede elevar el alma;
                <br>Una estrella puede guiar un barco al mar,
                <br>Un vitoreo puede lograr un gol.
                <br><br>Un voto puede cambiar una nación,
                <br>Un rayo solar puede levantar una habitación,
                <br>Una sola vela borra la oscuridad,
                <br>Una carcajada conquista la tristeza.
                <br><br>Una mirada puede cambiar dos vidas;
                <br>Un beso puede hacer que el amor florezca
                <br>Con un paso se inicia cada viaje;
                <br>Con una palabra inicia cada orador;
                <br><br>Una esperanza puede elevar nuestros espíritus,
                <br>Un toque es capaz de mostrar que algo nos importa
                <br>Una voz puede hablar con sabiduría
                <br>Un corazón es capaz de saber la verdad.
                <br><br>Una vida puede hacer la diferencia,
                <br>Una vida somos tú y yo …
            </p>
            </div>
        </section>
        </body>
<%- include('includes/foot.ejs') %>