<%- include('includes/head.ejs') %>
    <section class="hero is-danger">
        <div class="hero-body">
            <p class="title">
            Poema de amor
            </p>
            <p class="subtitle">
            Por Gerardo Salomón
            </p>
        </div>
        </section>

    <section class="section">
        <div class="container">
        <p>
            Quiero escribir un poema de <strong>amor</strong>, 
            <br>Que la gente lo lea y se inspire,
            <br>que su vida se llene de <strong>color</strong>, 
            <br>que al escucharlo quieran desbordar <strong>amor</strong>.
            <br><br>¿Para escribir un poema tengo que saber qué es el <strong>amor</strong>?
            <br>No, solo soltar la pluma y poder escuchar mi <strong>interior</strong>.
            <br>Una sonrisa amargada, un saludo de <strong>alegría</strong>, 
            <br>una ceja alzada, una depedida nada fría.
            <br><br>Levantar junto al amanecer tus <strong>ánimos</strong>
            <br>Abandonando tus lágrimas la noche en su <strong>doler</strong>
            <br>Permanecer callado mientras tu amigo llora,
            <br>y no dejar de lado en esta su <strong>peor hora</strong>.
            <br><br>Responder a ese llamado,
            <br>el que se encuentra dentro de ti,
            <br>el que dice que no has llegado,
            <br>a la persona en la que te puedes <strong>convertir</strong>.
            <br><br><strong>Sufrir</strong> con el que está sufriendo,
            <br>decidiendo cuando el no tuvo la oportunidad de <strong>decidir</strong>,
            <br>aceptar la efimeridad de la vida
            <br>y darle cabida a momentos de espontaneidad.
            <br><br><strong>Expresar</strong> lo que sentimos,
            <br><strong>sentir</strong> lo que pensamos.
            <br>Darle sentido a nuestro <strong>actuar</strong>,
            <br>para contagiar a los demás la alegría del <strong>ayudar</strong>.
            <br><br>Que la <strong>bondad</strong> de ti brote,
            <br>a pesar de que parezca,
            <br>que a nadie más le importe.
            <br><br>Darle importancia a lo <strong>tuyo</strong>,
            <br>pero también dársela a lo <strong>suyo</strong>.
            <br>Ama a la persona que <strong>hoy</strong> eres,
            <br>ama aún más a la que <strong>mañana</strong> ser puedes.
            <br><br>Entiende que <strong>amar es la respuesta y suficiente razón</strong>,
            <br>para reparar la <strong>herida</strong> expuesta en tu humano corazón.
            <br>Las <strong>semillas</strong> que hoy siembres de amor,
            <br>mañana cocechas de paz estarán a tu <strong>favor</strong>
        </p>
        </div>
    </section>
    </body>
<%- include('includes/foot.ejs') %>