<%- include('includes/head.ejs') %>

<section class="hero is-primary">
    <div class="hero-body">
        <p class="title">
        Poema de tiempo
        </p>
        <p class="subtitle">
        Por Dolores Veintimilla
        </p>
    </div>
    </section>

<section class="section">
    <div class="container">
        <h1 class="title">
            A UN RELOJ
        </h1>
        <p>
            Con tu acompasado son
            <br>Marcando vas inclemente
            <br>De mi pobre corazón
            <br>La violenta pulsación....
            <br>Dichosa quien no te siente!
            <br><br>Funesto, funesto bien
            <br>Haces reloj....La venida
            <br>Marcas del ser a la vida,
            <br>Y así impasible también
            <br>La hora de la partida.
        </p>
    </div>
</section>    

<%- include('includes/foot.ejs') %>