<%- include('includes/head.ejs', {
    username: username, 
    permisos: permisos
}) %>
                <h1 class="title">Agregar una reseña</h1>
                <form action="/escriberesena" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                    <label class="label" for="nombre">Nombre</label>
                    <input name="nombre" id="nombre" type="text" class="input"><br>
                    <label class="label" for="descripcion">Descripcion</label>
                    <input name="descripcion" id="descripcion" type="text" class="input"><br><br>
                    <input class="button is-success" type="submit" value="Resena">
                </form>
            </div>
        </section>
<%- include('includes/foot.ejs') %>