<%- include('includes/head.ejs', {username: username}) %>
                    <h1 class="title">Poemas</h1>
                    <p> Esta página tiene como objetivo compartir poemas/fragmentos escritos sobre temas de interés (en este caso el amor).<p>
                </div>
            </section>
<%- include('includes/foot.ejs') %>